/*----------------Initial Configurations----------------*/

*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* -----------------Root------------------------------- */
:root{
    --font-color: #f3efe0;
    --footer-background: #000000;   
    --navbar-hover-color: #F5DEB3; 
    --navbar-background:#D2B48C;
}


/* ------------------Navbar---------------------------- */


nav{
    background-color: var(--navbar-background);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: sticky;
}

.leftNav{
    display: flex;
    align-items: center;
}

#menuButton{
    display: none;
    height: 90%;
    align-items: center;
    margin-left: 10px;
}

.leftNav .brand img {
    width: 150px; 
    height: auto; 
    display: block; 
    margin-left: 80px;
    flex-shrink: 1;
}
.leftNav>ul{ 
    display: flex;
    flex-shrink: 2;
    list-style: none;
    margin:0;
    padding: 0;
}


.leftNav>ul>li{
    margin: 0 10px;
}

.leftNav>ul>li>a{
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease; 
    padding: 10px 15px; 
    
}

.leftNav > ul > li > a:hover {
    background-color: var(--navbar-hover-color);
}

.search {
    margin-right: 40px;
    position: relative;
}

.search .input{
    height: 35px;
    width: 35px;
    position: absolute;
    transition: width 0.3s ease-out, transform 0.3s ease-out; 
}

/*Class added in js */
.search.active .input{
    transform: translateX(-300px);
    width: 300px;
}

.search .btn{
    background-color: #D2B48C;
    border: 0;
    height: 35px;
    width: 35px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border-radius: 0;
}


.search .btn:hover{
    background-color:#eeddc6;
    
}

.btn:focus,
.input:focus{
    outline:none;
}


/* --------------SideNavbar---------------------------- */
.page{
    display: flex;
}

.page .menu{
    visibility: hidden;
    width: 0px;
    transition: width 0.3s ease-out
}

.page .menu.active{
    display: flex;
    visibility: visible;
    height: 100%;
    width: 20%;
    padding-right: 20px;
    position: relative;
    z-index: 3;
    background-color: black;
    color: white;
}

.page .main{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.page ul{
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}
.page ul li{
    margin-bottom: 10px;
}
.page ul li a{
    color: inherit;
    text-decoration: none;
}


/* ------------------Footer--------------------------- */
footer{
    background-color: var(--footer-background);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
    position: relative; 
    bottom: 0px; 
}

/* ------------------Mobile Responsive----------------- */
@media (max-width: 1010px){
    nav .brand{
        display: none;
    }
}

@media (max-width: 830px){
    #menuButton{
        visibility: visible;
        display: flex;
        margin-left: 40px;
        position: relative;
        cursor: pointer;
    }
    .leftNav>ul{ 
        display: none;
    }

}
